.home-body .ac1{}


.ac1 .v1{
 
	width:740px;
	height:575px;
	font-size:20px;
	margin-left:0px;
	background-image:url("images/15.jpg");
	background-repeat:no-repeat;
	margin-top:0px;
	margin-bottom:10px;
	margin-left:0px;
}
.ac1 .v2{
 
	width:300px;
	height:570px;
	text-align:center;
	background-image:url("images/16.jpg");
	margin-left:740px;
	margin-top:-972px;
	margin-right:auto;
	margin-bottom:0px;;
	}
	
	
	
